<div class="row">
  <div class="col-md-4">
    <h3>Divisions</h3>
    <% @divisions.each do |division| %>
      <li><a href="/division/<%=division.id%>"><%= division.name %></a></li>
    <% end %>
    <form  action="/division" method="post">
      <label for="name">Name</label>
      <input class="form-control" type="text" name="name">
    </form>
  </div>

  <div class="col-md-4">
    <h3>Employees</h3>
    <% @employees.each do |employee| %>
      <li><a href="/employee/<%=employee.id%>"><%= employee.name %></a></li>
    <% end %>
    <form action="/employee" method="post">
      <label for="name">Name</label>
      <input class="form-control" type="text" name="name">
    </form>
  </div>

  <div class="col-md-4">
    <h3>Projects</h3>
    <% @projects.not_done.each do |project| %>
      <li><a href="/project/<%=project.id%>"><%= project.name %></a></li>
    <% end %>
    <form action="/project" method="post">
      <label for="name">Name</label>
      <input class="form-control" type="text" name="name">

      <label for="description">Description</label>
      <input class="form-control" type="text" name="description">

      <label for="division">Division</label>
      <select class="form-control" name='division_id' type='text'>
          <% @divisions.each() do |division| %>
            <option value="<%= division.id %>"> <%= division.name %> </option>
          <% end %>
      </select>
      <button type="submit">Create new Project</button>

    </form>

  </div>

</div>
<div class="row">
  <div class="col-md-4">
    <% if @division %>
      <%= @division.name %>
      <% Project.where(division_id: @division.id).find_each do |project| %>
        <li><%= project.name %></li>
      <%end%>

    <%end%>
  </div>
  <div class="col-md-4">
  <% if @employee %>
    <%= @employee.name %>
  <%end%>
  </div>
  <div class="col-md-4">
    <% if @project %>
      <%= @project.name %>
    <%end%>
  </div>
</div>
